@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>


    <link href="~/Content/styles/admin/desktop.css" rel="stylesheet" />
    <link href="~/Content/styles/admin/AdminLogin/login.css" rel="stylesheet" />

    <script src="~/Scripts/Admin/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Admin/FunctionJS.js"></script>
    <script src="~/Scripts/Admin/AdminLogin/AdminLogin.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div id="thead">
            <div class="bg1">
            </div>
            <div class="bg2">
                <span>用户登录</span>
            </div>
            <div class="bg3">
                <div class="nav">
                    <ul class="Form FancyForm">
                        <li>
                            <input class="stext" id="Account" type="text" value="" /><label id="lblAccount">输入登录账户</label><span class="fff"></span>
                        </li>
                        <li>
                            <input class="stext" id="Pwd" type="password" value="" /><label id="lblPwd">输入登录密码</label><span class="fff"></span>
                        </li>
                        <li>
                            <input class="stext" id="Code" style="width: 100px; ime-mode: disabled;" type="text"
                                   maxlength="4" /><label id="lblCode">验证码</label><span class="fff" style="width: 185px;"></span>
                        </li>
                    </ul>
                    <div class="s8">
                        <table>
                            <tbody>
                                <tr style="height: 20px;">
                                    <td>
                                        <img width="80" height="28" title="点击切换验证码" id="Verify_codeImag" style="cursor: pointer;"
                                             onclick="ToggleCode(this.id, 'VerifyCode');return false;" alt="点击切换验证码" />
                                    </td>
                                    <td>
                                        <input class="sign" id="Log_Submit" onclick="return CheckUserDataValid();" type="button" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="load">
                        <img src="/Content/images/admin/Login/loading.gif" />
                    </div>
                </div>
            </div>
            <div class="bg4">
                <p>
                    适用浏览器：IE8+、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗。
                </p>
            </div>
        </div>
        <div id="bottom">
        </div>
    </form>
</body>
</html>
