<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
 <!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Pixma Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Library CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles/user/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/styles/user/superfish.css" rel="stylesheet" />
    <link href="~/Content/styles/user/revolution-slider/css/settings.css" rel="stylesheet" />
    <link href="~/Content/styles/user/prettyPhoto.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/Content/styles/user/style.css" rel="stylesheet" />
    <!-- Skin -->
    <link href="~/Content/styles/user/colors/blue.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/Content/styles/user/theme-responsive.css" rel="stylesheet" />
    <!-- Switcher CSS -->
    <link href="~/Content/styles/user/switcher.css" rel="stylesheet" />
    <link href="~/Content/styles/user/spectrum.css" rel="stylesheet" />

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/User/jquery.parallax.js"></script>
    <script src="~/Scripts/User/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/User/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/User/jquery.nivo.slider.pack.js"></script>
    <script src="~/Scripts/User/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/User/superfish.js"></script>
    <script src="~/Scripts/User/tweetMachine.js"></script>
    <script src="~/Scripts/User/tytabs.js"></script>
    <script src="~/Scripts/User/jquery.gmap.min.js"></script>
    <script src="~/Scripts/User/circularnav.js"></script>
    <script src="~/Scripts/User/jquery.sticky.js"></script>
    <script src="~/Scripts/User/jflickrfeed.js"></script>
    <script src="~/Scripts/User/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/User/waypoints.min.js"></script>
    <script src="~/Scripts/User/spectrum.js"></script>
    <script src="~/Scripts/User/switcher.js"></script>
    <script src="~/Scripts/User/custom.js"></script>

</head>
<body class="home">
    <div>
        <!-- Header Start -->
        <header id="header">
            <!-- Main Header Start -->
            <div class="main-header">
                <div class="container">
                    <!-- TopNav Start -->
                    <div class="topnav navbar-header">
                        <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                            <i class="icon-angle-down icon-current"></i>
                        </a>
                    </div>
                    <!-- TopNav End -->
                    <!-- Logo Start -->
                    <div class="logo pull-left">
                        <h1>
                            <a href="index-2.html">
                                <img src="~/Content/images/user/logo.png" alt="pixma" width="125" height="60">
                                
                            </a>
                        </h1>
                    </div>
                    <!-- Logo End -->
                    <!-- Mobile Menu Start -->
                    <div class="mobile navbar-header">
                        <a class="navbar-toggle" data-toggle="collapse" href=".html">
                            <i class="icon-reorder icon-2x"></i>
                        </a>
                    </div>
                    <!-- Mobile Menu End -->
                    <!-- Menu Start -->
                    <nav class="collapse navbar-collapse menu">
                        <ul class="nav navbar-nav sf-menu">
                            <li>
                                <a id="current" href="@Url.Content("~/UserIndex/Index")">
                                    首页
                                    <span class="sf-sub-indicator">
                                        <i class="icon-angle-down "></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/UserProduct/ProductDetails")" class="sf-with-ul">
                                    产品展示
                                    <span class="sf-sub-indicator">
                                        <i class="icon-angle-down "></i>
                                    </span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="portfolio-two.html" class="sf-with-ul">防腐木类</a>
                                        <ul>
                                            <li><a href="" class="sf-with-ul">木亭</a></li>
                                            <li><a href="" class="sf-with-ul">木桥</a></li>
                                            <li><a href="" class="sf-with-ul">木栏杆</a></li>
                                            <li><a href="" class="sf-with-ul">花架</a></li>
                                            <li><a href="" class="sf-with-ul">木栈道</a></li>
                                            <li><a href="" class="sf-with-ul">小品</a></li>
                                            <li><a href="" class="sf-with-ul">小木屋</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="portfolio-three.html" class="sf-with-ul">文化石类</a>
                                        <ul>
                                            <li><a href="" class="sf-with-ul">人造文化石</a></li>
                                            <li><a href="" class="sf-with-ul">天然文化石</a></li>
                                            <li><a href="" class="sf-with-ul">水洗石</a></li>
                                            <li><a href="" class="sf-with-ul">文化砖</a></li>
                                            <li><a href="" class="sf-with-ul">雨花石</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    工程案例
                                    <span class="sf-sub-indicator">
                                        <i class="icon-angle-down "></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    企业概况
                                    <span class="sf-sub-indicator">
                                        <i class="icon-angle-down "></i>
                                    </span>
                                </a>

                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    新闻资讯
                                    <span class="sf-sub-indicator">
                                        <i class="icon-angle-down "></i>
                                    </span>
                                </a>
                                <ul>
                                    <li><a href="portfolio-two.html" class="sf-with-ul">公司新闻</a></li>
                                    <li><a href="portfolio-three.html" class="sf-with-ul">行业新闻</a></li>
                                </ul>
                            </li>
                          
                            
                            <li><a href="contact.html">联系我们</a></li>
                        </ul>
                    </nav>
                    <!-- Menu End -->
                </div>
            </div>
            <!-- Main Header End -->
        </header>
        <!-- Header End -->

        <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    </div>

    <div style="z-index:-999999">
        @RenderBody()
    </div>


    <footer id="footer">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                        <h3>关于我们</h3>
                        <p>
                            马化腾木业集团是一家集生态园林的开发、生产、应用，生态园林的规划、设计、施工、养护、苗木、室外防腐木生产销售、设计施工园林防腐木景观、防腐木仿古建筑景观等为一体的综合性园林企业。
                        </p>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                        <h3></h3>
                        <ul id="tweets"></ul>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                        <h3>联系我们</h3>
                        <ul class="contact-us">
                            <li>
                                <i class="icon-map-marker"></i>
                                <p>
                                    <strong>地址:</strong> 山东省德州市德城区马化腾大街马化腾号,马化腾木业集团第二分公司 <br>

                                </p>
                            </li>
                            <li>
                                <i class="icon-phone"></i>
                                <p><strong>电话:</strong> 0534-12345678</p>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <p><strong>邮箱:</strong><a href="mailto:info@fifothemes.com">mahuateng@qq.com</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                        <h3></h3>
                        <ul id="flickrfeed" class="thumbs"></ul>
                    </section>
                </div>
            </div>
        </div>

    </footer>
</body>
</html>
