
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/styles/admin/adminindex.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/AdminIndex/index.js"></script>
    
</head>
<body>
    
    <div class="top">
        <iframe src="/AdminIndex/Top" name="topFrame" scrolling="No" id="topFrame" title="topFrame"></iframe>
    </div>
    <div class="left">
        <iframe src="/AdminIndex/Left" name="leftFrame" scrolling="No" id="leftFrame" title="leftFrame"> </iframe>
    </div>
    <div class="content">
        <iframe src="/AdminIndex/Index" name="rightFrame" id="rightFrame" title="rightFrame"></iframe>
    </div>
</body>
</html>
